*
!.changeset
!.npmrc
!package.json
!package-lock.json
!turbo.json

!apps
!packages
apps/*/**
packages/*/**

!apps/**/app
!apps/**/migrations
!apps/**/public
!apps/**/server
!apps/**/src
!apps/**/test
!apps/**/tests
!apps/**/*.cjs
!apps/**/*.js
!apps/**/*.json
!apps/**/*.ts

!packages/**/rules
!packages/**/src
!packages/**/*.cjs
!packages/**/*.js
!packages/**/*.json
!packages/**/*.ts