*
!.changeset
!.npmrc
!package.json
!package-lock.json
!.prettierignore
!prettier.config.cjs
!turbo.json

!apps
!packages
apps/*/**
packages/*/**

!apps/*/app
!apps/*/migrations
!apps/*/scripts
!apps/*/server
!apps/*/src
!apps/*/start.sh
!apps/*/test
!apps/*/tests
!apps/*/*.cjs
!apps/*/*.js
!apps/*/*.json
!apps/*/*.ts

!packages/*/src
!packages/*/*.js
!packages/*/*.json
!packages/*/*.ts
